/*@import url('import.css');*/
/*This is an imported StyleSHeet. We are importing our external stylesheet into another. This way we only have to link to this stylesheet on the HTML page. This process is largely deprecated but you could see it in legacy code.*/

/*The line below imports 2 google fonts, Architect's Daughter and Space Mono, to be used in our application.
*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Space+Mono&display=swap');

body {
}

/* This is an external stylesheet. It is designed for maximum reuse throught the site and is linked in the <head> of the HTML page.*/

header {
    background-color: khaki;
}

main {
    background-color: lightgray;
}

h1 {
    color: darkblue;
    font-size: 24px;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

aside h2 {
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}

header h1 {
    color: darkblue;
}

footer {
    font-style: italic;
}


/*Vertical Link Blocks*/

ul.blocklist {
    background-color: teal;
    padding: 0;
}

    ul.blocklist li {
        list-style-type: none;
        list-style-image: none;
    }

    ul.blocklist a {
        color: lightsalmon;
        text-align: center;
        padding: .5em;
        display: block;
        /*make the entire horizontal ara clickable, not just the text*/
    }

        ul.blocklist a:hover {
            /*Only applied when you are hovering over the item*/
            background-color: darkblue;
            color: lightblue;
        }


/*Base Link Styling (All Links)*/

a {
    color: teal;
    font-weight: bold;
    text-decoration: none; /*This removes the decault style of underlining links*/
}

    /*Base Link Pseudo Selectors
    -Hover: Mouse over the element
    -Active: Actively clicking on the element
    -Focus: Having clicked on the element and it being currently selected
*/

    a:hover, a:active, a:focus {
        color: lightblue;
        text-decoration: underline;
        background-color: darkblue;
    }

/*Topics List - HTML.html*/
.asideList {
    list-style: none;
}

/*Navbar Link Styling*/

nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px dotted darkgray; /*size, style, color*/
    border-bottom: 2px, dotted, darkgray;
}

nav li:hover {
    background-color: darkblue;
}

/*Nav Link Structure - Make <nav> links horizontal*/
nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

/*
Color Notes:

We have been using named colors. These are a limited amount of color options
that are supported by most modern web browsers. (140 options)

There are also color coding systems. With these, you get more specialized
options
- Most of them make use of numeric values to represent levels of red,
green, and blue (referred to as RGB)
- Using RGB there are 16 million different color options

Hexadecimal Notation
#RRGGBB
Original color coding system, but it is not easily readable
0 is the first digit (you start at zero)
Second digit 0-9 and A(10)-F(15)
16 causes the first digit to increment and a second digit is added starting
at 0 (16 = 10)
Pattern continues up to 255

Hex Shorthand
#RGB
Shortens the numeric representation of a color to 3 digits from 6
This limits color options to 4096
Can only be used when there are repeating digits in each color value
ex. #229988 => #298

Percentage Ranges
rgb(R%, G%, B%) 1-100% for each

Numeric Ranges
rgb(r, g, b) uses standard decimal numbers for each color 0-255

RGBA
rgba(r, g, b, a)
Alpha adds transparency and should be between 0(none) and 1(full)
*/


.colors {
    border: dashed 2px teal;
}

    .colors article p {
        padding: 20px 5px;
        font-size: 20px;
    }

        .colors article p span {
            font-weight: bold;
            font-style: italic;
        }

#colordemo1 {
    background-color: #6B00E8;
    color: #FA1587
}

#colordemo2 {
    background-color: #DDD;
    color: #000;
}

#colordemo3 {
    background-color: rgb(205, 146, 60);
    color: rgb(25, 64, 82);
}

#colordemo4 {
    background-color: rgba(16, 28, 40, .2);
    color: rgba(248, 6, 82, .7)
}

#colordemo5 {
    background-color: teal;
    color: lemonchiffon;
}

#colorGradient1 {
    /*Syntax: background-image: linear-gradient(angle, color-stop1, color-stop2)*/
    background-image: linear-gradient(-90deg, red, yellow);
    /*-90deg will "rotate" the angle of the gradient.
    Alt syntax: linear-gradient(to toght, red, yellow)
    Can also use Hex values or rgb/rgba instead of named colors
*/
    color: black;
}

#colorGradient2 {
    /*Syntax: background-image: radial-graident(shape size at position, start-color, ..., last-color);
    Shape size can take values: closest-side, farthest-side, closest-corner, farthest-corner)
*/
    background-image: radial-gradient(circle farthest-side at 50% 60%, pink, purple, blue);
    color: black;
}

#colorGradient3 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a4b357+14,a4b357+26,a4b357+37,a4b357+48,a4b357+48,a4b357+48,a4b357+60,a4b357+66,a4b357+66,a4b357+73,75890c+86 */
    background: #a4b357; /* Old browsers */
    background: -moz-linear-gradient(top, #a4b357 14%, #a4b357 26%, #a4b357 37%, #a4b357 48%, #a4b357 48%, #a4b357 48%, #a4b357 60%, #a4b357 66%, #a4b357 66%, #a4b357 73%, #75890c 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a4b357 14%,#a4b357 26%,#a4b357 37%,#a4b357 48%,#a4b357 48%,#a4b357 48%,#a4b357 60%,#a4b357 66%,#a4b357 66%,#a4b357 73%,#75890c 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a4b357 14%,#a4b357 26%,#a4b357 37%,#a4b357 48%,#a4b357 48%,#a4b357 48%,#a4b357 60%,#a4b357 66%,#a4b357 66%,#a4b357 73%,#75890c 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
}


.colors article h1 {
    text-shadow: 3px -2px 5px #f27d0c;
}

.colors {
    box-shadow: -15px -10px 20px lightsalmon;
}


/*
Font Notes

Fonts are declared in a font-family. Reading from left to right, this is a list of
fonts starting with the specific desired font followed by a list of back-ups until
you get to a generic font type at the end.

The fonts available for the browser to use are the fonts on the specific device accessing
the website.

Web-Safe fonts are those that are widely available across most devices. This is a moving target.

Alternatively, you can import fonts through a CDN to ensure the same font is used to render your site for
all devices.

Font sizes can be declared in pixels (px) which are fixed width values. Can also use relative units of measure,
like em's.
Stands for the letter M - widest letter in English language
Font-Size is configured based on the font-size of the parent element
Example: if parent has font-size of 12px and child has font-size of 1.5em, then child would have 18px font
Best practice is to declare font-size in px at body level and use em's for all other values.
*/

#fontdemo1 {
    font-family: "Calisto MT", Cambria, "Times New Roman", serif;
}

#fontdemo2 {
    font-family: Verdana, Geneva, sans-serif;
}

#fontdemo3 {
    font-family: "Brush Script MT", cursive;
}

#fontdemo4 {
    font-family: "Courier New", "Lucida Console", Monaco, monospace;
}

#fontdemo5 {
    font-family: Papyrus, fantasy;
}

/*Common font mods*/

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}

.letter-spacing {
    letter-spacing: .3em;
}

.word-spacing {
    word-spacing: 1em;
}

.fs-px10 {
    font-size: 10px;
}

.fs-px20 {
    font-size: 20px;
}

.fs-px40 {
    font-size: 40px;
}

.fs-em0-7 {
    font-size: .7em;
}

.fs-em1-8 {
    font-size: 1.8em;
}

.fs-em4 {
    font-size: 4em;
}

.lh-1-5-spacing {
    line-height: 1.5;
}

/*the next 3 line-height classes result in double-spacing, using 
    different measurement types*/
.lh-double-spacing {
    line-height: 2;
    /*could also use em or %*/
}

.lh-px-40 {
    line-height: 40px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.align-center {
    text-align: center;
}

/*
    Font Shorthand Syntax
    font: font-style font-variant font-weight font-size/line-height font-family
    Only ones that are required are font-size and font-family, all others can be inherited
    if they are not specified. 
*/
#fontdemo6 {
    font: 1.1em Verdana, Geneva, sans-serif;
    /*just uses 2 "required" font-shorthand properties: font-size and font family*/
}

#fontdemo7 {
    font: italic small-caps bold 19px/2em "Palatino Linotype", "Book Antiqua", Palatino, serif;
    /*uses all possible font-shorthand properties:
        font: font-style font-variant font-weight font-size/line-height font-family
    */
}


/*Imoorted Fonts*/

h1, h2, footer {
    text-align: center;
}

header h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2.2em;
}

header p {
    font-style: italic;
    font-family: 'Space Mono', monospace;
}

main h1 {
    font-family: 'Space Mono', monospace;
    font-size: 1.75em;
}

/*
Image Syntax
<img src="path/file.ext" alt="descriptive text" title="short description"/>

Alt: is used for screenreaders and for image search results.
- It is also what is displayed on screen if the image
fails to load.

Title: is the text that pops up when you hover over an image.

CSS Image Properties
background-url: allows you to pass the url of image to set as a bg
background-repeat: if the image is not big enough to fill the screen
should it repeat in some way?
background-attachment: if the bg image is fixed or scrollable
background-position: positions the bg on the viewport
- You can provide specific x-horizontal position values and
y-vertical values using px, em, %
background-size:
- Cover: scale to completely fill width and height.
- may result in truncation
- Contain: scale to the largest size needed so it fills the
height and width without truncation.

Shorthand
background: color url(path/file) position/size repeat attachment;

If you set a background image using CSS, you cannot provide an alt
description. Therefore, you must provide an alternate way of
describing the image.
*/

/*List Style Images*/

ul li {
    list-style-image: url(../images/bullet_point_image_teal.png);
}

aside ul li {
    list-style-image: url(../images/bullet_point_image_orange.png);
}

/*Background Images*/

header {
    background-image: url(../images/a-r-t-paola-589990-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Positioning a single image through CSS*/
#headerOverlay {
    background-image: url(../images/computer_icon.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}

header h1, header p {
    margin: 7px 0 7px 150px;
}

header h1 {
    text-align: left;
    letter-spacing: 0.1em;
    color: #96f3fa;

}

header {
    border-radius: 5px;
}

/*Background image for the entire page using shorthand syntax*/

body {
    background: url(../images/ben-krygsman-745458-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

/*Sweet Border*/

nav ul {
    min-height: 52px;
    background-image: url(../images/border_wave.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 200px;
}

/*Favicon tiny little image usually about 16px by 16px (must be on the root directory)*/

/*

CSS Box Model  

    For elements that are block level or are styled to have a display of inline-block 

    Display: Inline-block 

        - Act like an inline element and only take up enough space for the content they contain 

        - Still have box model properties available  

  

Syntax Options for Padding/Margin (no commas) 

    1 value: all sides 

    2 values: TB LR 

    3 values: T LR B 

    4 values: T R B L (clock-wise) 

 

 Possible values 

    px (fixed width) 

    em (multiplier based on font-size in current context) 

    % (based on width of parent container - typically used for horizontal positioning) 
*/

/*Create a gallery layout for images.html*/

div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

div.galleryItem:hover {
    border: 1px solid lightsalmon;
}

div.galleryItem img {
    width: 100%;
    height: auto;
}

div.galleryItem a:hover {
    background-color: lightsalmon;
}

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

/*Provide padding for main content and content in the <aside> of HTML pages*/
.mainWrapper {
    padding: 1%;
}

.asideWrapper {
    padding: 1%;
}

footer {
    padding: 3%;
}

/*Remove margin above and below nav*/

nav ul {
    margin: 0;
}

aside h2 {
    padding: 2%;
}

/* 

    Float & Clear Notes 

 

    Floating an element in HTML is when you move it to the left or right inside of its parenting container.  

    Floating an element can cause the parenting container to collapse because the element is no longer contributing to its height.  

 

    You can use clears to force parenting containers to maintain their height and to ensure content DOES NOT flow up beside the floated element(s).  

 

    Clears only clear the container they are placed in.  

*/ 

#html, #js {
    float: right;
    height: 75px;
    margin-left: 20px;
/*Image to the right of the text, but some space between the text and the image*/
}

#css {
    float: left;
    height: 75px;
    margin-right: 20px;
}

#frontendDev section {
    width: 85%;
    margin: 0 auto;
}

/*:nth-child selector is used to efficiently target only certain child elements (n for number)*/
#frontendDev section:nth-child(odd) h3, #frontendDev section:nth-child(even) h3 {
    margin:  10px 75px;
}

#frontendDev section:nth-child(even) p, #frontendDev section:nth-child(odd) p {
    margin: 0 75px;
}


/*For our root index.html - 2 column layout with 1 column floated*/

#leftColumn {
    width: 73%;
    border-right: 1px dashed teal;
}

#rightColumn {
    width: 25%;
    float: right;
}

aside h2 {
    margin-top: 0;
}

/*For HTML.html - 2 column layout with 1 column floated*/

#htmlRightColumn {
    width: 25%;
    float: right;
}

#htmlLeftColumn {
    margin-right: 25%;
    border-right: 1px dashed teal;
}

/*For CSS.html - 2 column layout with 2 colums floated*/

#cssLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box; /*Changes the way width and height are figured. This means that width includes content, padding, and border.*/
}

#cssRightColumn {
    width: 25%;
    float: right;
}

.clear {
    clear: both;
}

/*For the Colors.html - 2 column layout with 2 columns floated*/

#colorsLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#colorsRightColumn {
    width: 25%;
    float: right;
    }

/*For Fonts.html - 2 columns with 2 columns floated*/
#fontsLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#fontsRightColumn {
    width: 25%;
    float: right;
}

/*for Images.html - 2 columns with 2 columns floating*/

#imagesLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#imagesRightColumn {
    width: 25%;
    float: right;
}

/*Using floats to creat a grid layout, resources index.html*/
/*Took the content we wanted to move around and put it in a new container to make this work. If I can't get things to move correctly try wrapping them inside a new container to set % of the container.*/
div#webResources article {
    float: left;
    width: 33.33%;
}

/*Tables*/
table, tr, rd, th {
    border: 1px solid black;
    border-collapse: collapse; /*Avoids duplicate adjacent borders inside the table.*/
}

table {
    margin: auto; /*Centers element in parent container*/
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: em;
 }

thead {
    background-color: #96F3FA;
    }

tfoot {
    background-color: teal;
}

tfoot tr, tfoot td {
    border: 0;
}

tbody tr:nth-child(even) {
    background-color: lightsalmon;
}
