body {
    background-image: url(../images/StockTicker.jpg);
    background-repeat: repeat;
}

header {
    background-color: lightgray;
    border-top: 5px solid #025928;
}

header h1 {
    color: #025928;
}

main {
    background-color: #F6F6F6;
}

#whyUs {
    color: #025928;
    text-decoration: underline;
}

.contentHeading {
    color: #d96704;
    font-style: bold;
}

footer {
    background-color: lightgray;
}

/*Navbar Link Styling*/

nav a {
    font-weight: bold;
    color: lightgray;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: #303030;
    padding: 0;
    border-top: 2px dotted darkgray; /*size, style, color*/
    border-bottom: 2px, dotted, darkgray;
}

nav li:hover {
    background-color: #3c8c30;
}

/*Nav Link Structure - Make <nav> links horizontal*/
nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }


/*Target desired selectors and add CSS for any of the following: 
Background color
Text color
Italics text
Bold text
Create and use at least one class repeatedly to style multiple elements on the HTML page. 
Create and use at least one ID to uniquely identify and style an element on the HTML page. */
